[2019-03-27 18:38] ehsteve opened #2 "Figure out a way to validate and compare our coordinate transformations for the paper"

[2019-03-27 18:40] ehsteve opened #3 "Update the transform graph of our coordinate frames"
Something like this
<img width="1326" alt="Screen Shot 2019-03-27 at 2 36 05 PM" src="https://user-images.githubusercontent.com/739053/55103089-31149c80-509e-11e9-91e1-b70db21d56dc.png">

[2019-03-27 18:41] ehsteve opened #4 "Add figure that shows differential solar rotation"
Laura had the great idea of showing a base image, a rotated image, and then an actual solar image at the correct time.

[2019-03-27 18:42] ehsteve commented on #2
What did @dpshelio do which compared all of the IDL codes to do this?

[2019-03-27 18:42] ehsteve commented on #2
May be worth bringing in Bill Thompson to help with this.

[2019-03-27 18:44] Cadair opened #5 "Improve the authors graph based on the mailmap"
https://github.com/ehsteve/sunpy-meta-graphs/blob/master/sunpy-meta-graphs/author_stats.py

[2019-04-05 17:39] ehsteve commented on #2
@wafels has agreed to do this on our Telecon.

[2019-04-05 17:40] ehsteve commented on #2
One possibility is to generate 10,000 random points on the Sun and convert them between HPC to HLG and compare the results similar to what was done in the astropy paper. I would also recommend that points above the surface of the Sun be includes (X, Y, Z) as well.

[2019-04-05 17:50] wafels commented on #2
I spoke to Bill about this yesterday. We should be able to do comparisons of the solar coordinate transformations in SunPy and SSW.

Sent from my iPhone

[2019-04-08 20:00] ehsteve commented on #3
The latest is available in this [gist](https://gist.github.com/Cadair/b1ca42092a29850c09bcf079df2f8087)

[2019-04-08 20:01] ehsteve opened #7 "Add a figure that shows a transformation to astrophysical coordinates"

[2019-04-08 20:03] ehsteve commented on #7
The best current idea is to show regulus using an eclipse photo as is done in the [solar eclipse repo](https://github.com/sunpy/solar-eclipse) and in [this notebook](https://github.com/sunpy/solar-eclipse/blob/master/notebooks/Processing%20your%20Eclipse%20Photo%20with%20SunPy.ipynb).

[2019-04-09 15:23] ehsteve commented on #7
Better idea would be to overlay the star field shown here on a lasco image.

![C3-2008000](https://user-images.githubusercontent.com/739053/55812913-d164bb00-5ab9-11e9-982a-cb7f02ee2999.gif)

![cmeweek1_c3full](https://user-images.githubusercontent.com/739053/55812940-df1a4080-5ab9-11e9-833f-182bd46bce9e.gif)

[2019-04-09 19:01] wafels commented on #7
We’re adding planet labels and PSP encounters on helioviewer.org that were calculated using sunpy, astropy, heliopy and spiceypy. We could just use a screenshot from helioviewer.

Sent from my iPhone

[2019-04-09 19:03] Cadair commented on #7
Can we have that code in the example gallery please :grin:

[2019-04-09 19:03] wafels commented on #7
I’ll post an example in the chat.

Sent from my iPhone

[2019-04-10 17:14] ehsteve commented on #2
Spice may also allow provide helio to helio transformations which could be checked against.

[2019-04-11 17:51] ehsteve commented on #7
@wafels could you post it here instead so it is easier to find? Thanks.

[2019-04-11 17:52] ehsteve commented on #7
[lasco_with_stars.pdf](https://github.com/sunpy/sunpy-1.0-paper/files/3069934/lasco_with_stars.pdf)

[2019-04-11 17:53] ehsteve commented on #7
<img width="964" alt="Screen Shot 2019-04-11 at 1 53 22 PM" src="https://user-images.githubusercontent.com/739053/55979891-373f7700-5c61-11e9-96fb-f38ce1dd5a84.png">

[2019-04-11 17:54] ehsteve commented on #7
This image was generated with this [code](https://gist.github.com/ehsteve/a6dba7d1e1a5a9204c7bab89e17666ac). The locations of the stars are not quite correct. Investigation is ongoing to determine why.

[2019-04-11 19:06] ehsteve commented on #7
I've added the data file in a new [data directory](https://github.com/sunpy/sunpy-1.0-paper/tree/master/data)

[2019-04-12 18:03] ayshih commented on #7
Your code needs to take into account that the observer is not at Earth.

I used SunSPICE to obtain SOHO's location at the time of this image, and here's code for the corresponding `SkyCoord`:
[code]
You then need to feed `observer=soho` as a keyword argument any time you use `frames.Helioprojective`.

The difference is ~11 arcmin in longitude and ~2 arcmin in latitude:
[code]

[2019-04-12 21:57] wafels commented on #7
I have a heliopy based solution almost ready. It reads the soho spice kernels and will return in ICRS.

Sent from my iPhone

[2019-04-13 10:09] Cadair commented on #7
I assume this data isn't in the header at all? I wonder if we should optionally import Heliopy in the SOHO source?

[2019-04-13 15:28] wafels commented on #7
Here is my heliopy based solution to use the SOHO SPICE kernels.

Download and install my branch of heliopy that points to the SOHO SPICE
kernels and adapts heliopy to return a SkyCoord.  It's at

*https://github.com/wafels/heliopy/tree/spicecoordinates
<https://github.com/wafels/heliopy/tree/spicecoordinates>*

You'll also need to install cdflib and spiceypy - I did that using pip.
The following

[2019-04-19 16:02] ehsteve commented on #5
Done.

[2019-04-19 16:02] #5 closed, assigned to Cadair

[2019-04-23 19:51] ehsteve commented on #2
The plan is currently ignore this issue and leave it till later.

[2019-04-23 19:52] ehsteve commented on #4
Solved by #10

[2019-04-23 19:52] #4 closed, assigned to hayesla

[2019-04-23 19:53] ehsteve commented on #3
@Cadair could you add the code that generated that figure to the repo please?

[2019-04-24 17:58] wtbarnes opened #14 "Define plot style using a matplotlibrc file"
The standard way for ensuring consistent styling across multiple plots in matplotlib is via a [`matplotlibrc` file](https://matplotlib.org/users/customizing.html). We should agree on a consistent styling and add this file to the `figures` directory.

[2019-05-01 17:30] #14 closed, assigned to nobody

[2019-05-08 20:01] wtbarnes opened #19 "Add Makefile"
Need to sort out the build procedure for the document, including generating figures. Related to the automated PDF generation discussion in #18

[2019-05-17 14:18] wafels commented on #7
Also: https://github.com/wafels/heliopy/tree/spicecoordinates

[2019-05-17 14:18] Cadair commented on #7
We can close this now right?

[2019-05-30 18:09] mbobra opened #25 "some issues about the abstract and Sections 1-4"
Here are some issues about the abstract and Sections 1-4:

- [ ] @Cadair will write some words about the small grant from NumFOCUS.
- [x] We all need to decide whether we want to deposit our SEPs in Zenodo (x/ref sunpy/sunpy-SEP#33). My vote is yes.
- [x] We need to come up with a convention for referring to the sunpy core package -- as `SunPy` or `sunpy` -- and similarly for the other packages we

[2019-06-05 17:08] ehsteve opened #28 "Edit and fix up all figures throughout"

[2019-06-05 17:10] ehsteve commented on #28
excepting the coordinate transform figure.

[2019-06-05 17:13] ayshih commented on #3
I'll take on updating this figure to make it consistent with the text that I wrote in #27

[2019-06-05 17:16] #19 closed, assigned to nobody

[2019-06-05 17:22] #7 closed, assigned to ehsteve

[2019-06-05 17:22] ayshih commented on #2
Closing this issue because we now make clear that we check against the *Astronomical Almanac*

[2019-06-05 17:22] #2 closed, assigned to wafels

[2019-06-05 18:01] mbobra opened #29 "editing the file 2-modules.tex"
Let's try to edit, prettify, and complete as much of the file 2-modules.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 18:03] mbobra opened #30 "editing the file 3-coordinates.tex"
Let's try to edit, prettify, and complete as much of the file 3-coordinates.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 18:05] mbobra opened #31 "editing the file affiliated.tex"
Let's try to edit, prettify, and complete as much of the file affiliated.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 18:07] mbobra opened #32 "editing the file community.tex"
Let's try to edit, prettify, and complete as much of the file community.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 18:07] mbobra opened #33 "editing the file fido.tex"
Let's try to edit, prettify, and complete as much of the file fido.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 18:08] mbobra opened #34 "editing the file future.tex"
Let's try to edit, prettify, and complete as much of the file future.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 18:09] mbobra opened #35 "editing the file infrastructure.tex"
Let's try to edit, prettify, and complete as much of the file infrastructure.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 18:10] mbobra opened #36 "editing the file units.tex"
Let's try to edit, prettify, and complete as much of the file units.tex as we reasonably can by this Friday (June 7) :sunny:

[2019-06-05 20:52] wtbarnes opened #39 "Figure styling"
Are we using the `setup_plot()` function or the matplotlibrc? These two are somewhat in conflict.

Also the font in the figures should be roughly the same as that in the main body of the text.

[2019-06-05 21:35] mbobra commented on #32
I looked at this and am happy with the text. We can keep it as-is for the SPD.

In the future, we should modify the following sentence:

It looks like we have 113 contributors now. But I'm not sure how we classify someone as an active developer. Does anyone else know?

[2019-06-06 02:38] wtbarnes commented on #32
I had just one minor comment on this section: there is a single subsection ("Participation") in this section. Unless there are other subsections to add, I would remove that subsection and just let all of the text fall under the "Community" section header.

[2019-06-06 14:38] ehsteve opened #41 "section numbering and file names"
Current section files have multiple sections inside each which means that they cannot be numbered sequentially.

[2019-06-06 15:52] ehsteve commented on #39
I've been removing the `setup_plot()` as I agree that the `matplotlibrc` file is the accepted approach.

[2019-06-06 18:20] wtbarnes commented on #39
Ok. Just wanted to make sure that was the consensus.

[2019-06-07 03:22] ayshih commented on #36
Closed via #44

[2019-06-07 03:22] #36 closed, assigned to ayshih

[2019-06-07 18:43] ehsteve opened #46 "Fido section should point to the DRMS package section"

[2019-06-07 18:45] #3 closed, assigned to ayshih, Cadair

[2019-06-07 19:27] ayshih commented on #30
Closed via #40

[2019-06-07 19:27] #30 closed, assigned to ayshih, wtbarnes

[2019-06-08 06:14] wtbarnes commented on #39
I fixed several of these in #40 so I'm going to go ahead and close this.

[2019-06-08 06:14] #39 closed, assigned to nobody

[2019-06-08 06:14] wtbarnes commented on #32
This is closed by #43 correct?

[2019-06-08 06:18] wtbarnes opened #48 "Problem with differential rotation figure"
See sunpy/sunpy#3190. Creating this so we don't forget to address this one way or the other before publication. Also, the background on the lower panel should be black instead of white.

[2019-06-10 16:37] #32 closed, assigned to mbobra

[2019-06-10 23:51] #46 closed, assigned to nobody

[2019-06-10 23:51] #35 closed, assigned to ehsteve

[2019-06-10 23:52] #28 closed, assigned to nobody

[2019-06-10 23:52] #29 closed, assigned to hayesla

[2019-06-10 23:52] #31 closed, assigned to ehsteve

[2019-06-10 23:52] #33 closed, assigned to hayesla

[2019-06-10 23:52] #34 closed, assigned to ehsteve

[2019-06-19 17:30] ehsteve commented on #25
Just do small PRs to fix these issues individually.

[2019-06-19 17:32] ehsteve commented on #25
I'll take on issue number 2.

[2019-06-19 17:34] ehsteve commented on #25
Decision is `sunpy` for the package and `SunPy` for the project.

[2019-06-19 17:36] wtbarnes commented on #48
The upstream problem in sunpy has now been moved to sunpy/sunpy#3226

[2019-06-19 17:45] ehsteve commented on #25
Cite the Zenodo 1.0 release (and the bug fix) and then the zenodo `all` for all other releases. @Cadair can cite others if he wants.

[2019-06-19 17:47] ehsteve commented on #25
@Cadair to add words about what constitutes v1.0.

[2019-06-19 17:48] ehsteve commented on #25
I will add a citation to the PyHC standards document.

[2019-06-19 22:54] ehsteve commented on #25
Relooked at the mission statement text and it looks fine @mbobra

[2019-06-19 23:23] ehsteve commented on #48
This is a blocking issue.

[2019-06-19 23:27] ehsteve commented on #25
Looks like astropy just uploads each APE to zenodo by hand to get their DOI. I'll do the same for us.

[2019-06-25 20:49] wtbarnes commented on #48
Once sunpy/sunpy#3245 is merged, I will fix the figure

[2019-06-25 22:35] dstansby opened #62 "David Stansby"
## Details

* Given Name: David

* Family Name: Stansby

* Email: dstansby@gmail.com

* Affiliation: Imperial College London

* ORCID (if available): 0000-0002-1365-1908

## Contribution to the SunPy Community

Reporting and fixing bugs, and providing several improvements to code testing.

[2019-06-26 00:54] mbobra opened #63 "Jargon + small-scale copyediting issues"
I have one large-scale issue, and that is: How much technical jargon are we willing to allow into the paper? Do we want to allow the terms factory, subclass, class, method, base class, API, Pandas dataframe, subpackage? Do we want function names in the text?

There is a big difference in how each author approached these questions. For example, the Fido section (Section 7), does not use any of the

[2019-06-26 08:27] nabobalis commented on #63
My thoughts:

I think we should avoid any unless it serves a purpose in the context it is used in.
Function names could be useful if we showcase an example like the diff_rot figure.

I agree with you.

I agree with you. We should avoid replicating parts of our docs (or maybe including information that belong in the docs but are missing) in the paper.

open source

GSoC

Numpy, it seems  that on th

[2019-06-26 18:51] ehsteve commented on #63
How about we put the instruments supported into a table?

[2019-06-26 18:52] nabobalis commented on #63
Seems overkill? But I can do so.

[2019-06-26 18:53] mbobra commented on #63
I think this is a super good idea. And we can have two columns indicating which are supported by `TimesSeries` and which are supported by `Map`.

[2019-06-26 18:54] nabobalis commented on #63
Ok, give me a bit to do that!

[2019-06-26 19:54] starfleetjames opened #65 "Hopping on as a co-author"
## Details

* James Paul

* Mason

* james.p.mason@nasa.gov

* NASA Goddard Space Flight Center

* ORCID: 0000-0002-3783-5509

## Contribution to the SunPy Community
Updated some of the code comments related to SDO/EVE instrument and patched up some time functions: https://github.com/sunpy/sunpy/commits?author=jmason86

[2019-06-26 20:10] #41 closed, assigned to nobody

[2019-06-26 20:10] #62 closed, assigned to nobody

[2019-06-26 20:10] #65 closed, assigned to nobody

[2019-06-26 20:17] ehsteve opened #67 "Remove jargon in section 6 onwards"

[2019-06-26 22:05] aringlis opened #69 "Adding author"
## Details

* Given Name: Andrew

* Family Name: Inglis

* Email: andrew.inglis@nasa.gov

* Affiliation: NASA Goddard Space Flight Center

* ORCID (if available): 0000-0003-0656-2437

## Contribution to the SunPy Community

Former member of the SunPy board ~2013-2017. Regular contributor in the <0.6 era, less so these days.

[2019-06-27 00:13] mbobra commented on #63
@ehsteve and I had a conversation earlier this afternoon about editing some of the jargon out of the paper in favor of more conversational English. We will also do some copyediting while we're at it.

I will PR Sections 0, 1, 2, 3, 4, and 5. I will add information about the release schedule (in the recently-approved [SEP-0009](https://github.com/sunpy/sunpy-SEP/blob/master/SEP-0009.md)) into Secti

[2019-06-27 13:11] ehsteve commented on #69
👍 added.

[2019-06-27 13:11] #69 closed, assigned to nobody

[2019-06-27 15:51] prateekiiest opened #71 "Adding as an author [Prateek]"
## Details

* Given Name

Prateek Chanda

* Family Name

Chanda

* Email

prateekkol21@gmail.com

* Affiliation
Indian Institute of Engineering Science and Technology, India

* ORCID (if available)
http://orcid.org/0000-0002-7068-2866

## Contribution to the SunPy Community

* **[2017]** - Worked on bug reporting and enhancements for map class and sunpy website [inital phase]
* **[2018]**  Worked

[2019-06-27 17:29] rajul opened #72 "Adding co-author"
## Details

* Given Name: Rajul (I only use a single name officially)

* Email: rajul09@gmail.com

* Affiliation: Indian Institute of Technology Kharagpur

* ORCID (if available): 0000-0003-3552-8799

## Contribution to the SunPy Community

* Fixed bugs and issues in the database module
* Developed plugins enabling use and visualization of solar data from within Ginga
* Reported and fixed bugs, an

[2019-06-27 19:28] mbobra commented on #71
Addressed by #73

[2019-06-27 19:28] #71 closed, assigned to nobody

[2019-06-27 19:55] ehsteve commented on #72
done.

[2019-06-28 02:59] #48 closed, assigned to nobody

[2019-06-28 03:10] #67 closed, assigned to ehsteve

[2019-06-28 14:23] ehsteve commented on #63
Looks like most/all of the issues here have been addressed so I'm closing this issue.

[2019-06-28 14:23] #63 closed, assigned to nobody

[2019-06-28 14:23] ehsteve opened #79 "Add references to each SEP"
I'm working on adding the SEPs to zenodo so we can't do this yet but should have it done soon.

[2019-06-28 14:30] ehsteve opened #80 "Add information on small grant from NumFOCUS"

[2019-06-28 14:30] ehsteve opened #81 "Add citation to previous versions of SunPy released on Zenodo"

[2019-06-28 14:31] ehsteve opened #82 "Add a sentence of two on how 1.0 is different than past releases"

[2019-06-28 14:32] ehsteve commented on #25
Moved open issues from this into individual issues (#79, #80, #81, #82).

[2019-06-28 14:32] #25 closed, assigned to ehsteve, Cadair

[2019-06-28 19:10] mbobra commented on #82
The paper already says v1.0 is the first stable release.

[2019-06-28 20:24] ehsteve commented on #79
@mbobra all SEPs now have [DOIs](https://github.com/sunpy/sunpy-SEP/blob/master/README.md).

[2019-07-01 01:58] #82 closed, assigned to nobody

[2019-07-03 17:09] mbobra opened #86 "Include information about Open Astronomy"
Include some text explaining the Open Astronomy organization and our relationship with it.

[2019-07-03 17:10] ehsteve opened #87 "Add a paragraph to section 7 to discuss other components of sunpy.net"
This means putting back in the reference to helioviewer that was deleted as well as other things.

[2019-07-03 17:16] ehsteve opened #88 "Add y ticks on differential rotation figure"

[2019-07-03 17:19] ehsteve opened #89 "Remove grid from Venus figure"

[2019-07-03 17:20] hayesla opened #90 "add minor ticks and xlabel to Figure 1"
Maybe add minor ticks to (a) as (b) has them. Also add xlabel (Year) to (a) and (b)

[2019-07-03 17:20] ehsteve commented on #89
Also add a circle with the right size.

[2019-07-03 17:28] ehsteve opened #91 "Make a simple figure for map and time series"

[2019-07-03 17:40] ehsteve opened #92 "Edit the community section"
Add discussion about sustainability.

[2019-07-03 17:40] wtbarnes commented on #89
May as well remove the grid from the LASCO figure as well so that all three of those figures look a bit more uniform.

[2019-07-03 17:46] ehsteve opened #93 "Create a list of authors that should be added to the paper"

[2019-07-03 18:06] wtbarnes opened #95 "Inconsistent formatting for author affiliations"
Some of the affiliations are inconsistently formatted, e.g. some include zip codes and some do not. There also appear to still be some placeholder affiliations ("24. An Affiliation").

[2019-07-05 16:25] ayshih opened #97 "Bold claims in the introduction need citations"
[code]

Okay, I can count 18 missions (https://smd-prod.s3.amazonaws.com/science-red/s3fs-public/atoms/files/hso_fleet_chart_april_2019.pdf), but I'm skeptical about "nearly 200" instruments.  Which spacecrafts have 10+ instruments on them?  Is there a source that backs up that number?

[code]

Is there a source that backs up "hundreds of thousands"?  Even if it's technically true, would any reade

[2019-07-05 16:34] ayshih opened #98 "Order of panels in differential-rotation figure"
The order of the panels in the differential-rotation figure has always bothered me.  It's currently:

- (a) AIA image on 2014 Oct 20
- (b) AIA image on 2014 Oct 22
- (c) Differential rotation of (a) to 2014 Oct 22

I suggest swapping panels (b) and (c), so that we start with a Map, rotate it, and then show what the actual observation looks like.  Discuss.

[2019-07-05 16:49] ehsteve commented on #98
Ha! this has also bothered me as well! I'll fix this.

[2019-07-05 16:54] ayshih opened #99 "Standardize how we describe what astropy.time is/enables"
I'm annoyed by how the paper describes what `astropy.time` is/enables.

### Section 2:
[code]
The high-precision capability of `astropy.time` is arguably the least useful benefit for SunPy.  I think everything else on the bulleted list in the SEP (https://github.com/sunpy/sunpy-SEP/blob/master/SEP-0008.md) ranks above it.  I also think that "format" here sounds like we're just writing the time wit

[2019-07-06 16:22] mbobra commented on #97
I made these bold claims.

The NASA HSO missions in prime and extended operations include 129 instruments. They are enumerated below. Some of these are turned off but functional (e.g. SoHO/MDI), some are partly functional (e.g. SDO/EVE takes data, but SAM+MEGS-A are longer working), and some are lost (e.g. STEREO-B). You're right -- nearly 200 is an exaggeration. I had included Cluster in my previ

[2019-07-07 20:28] ehsteve commented on #79
Fixed.

[2019-07-07 20:28] #79 closed, assigned to ehsteve, mbobra

[2019-07-08 15:43] ayshih opened #104 "Software acknowledged at the end"
Currently, we acknowledge only one software package at the end of the paper:
[code]

Here are some questions (which may require a conversation with ApJ to resolve):

- Should `sunpy` be in this list?
- What other packages should be in this list, versus cited only in the text?
- Should citations be to project papers or to actual code (if cite-able)?

[2019-07-08 19:39] #98 closed, assigned to ehsteve

[2019-07-08 19:39] #92 closed, assigned to ehsteve

[2019-07-08 19:39] #90 closed, assigned to ehsteve

[2019-07-08 19:39] #88 closed, assigned to ehsteve

[2019-07-08 19:39] #89 closed, assigned to ehsteve

[2019-07-08 19:41] ehsteve commented on #97
@mbobra thanks for this great list!

sounds like we should be less bold with these claims and say "over 100 instruments" and "hundreds of packages"?

[2019-07-08 19:51] #72 closed, assigned to nobody

[2019-07-08 20:10] ehsteve opened #105 "Add mention and link to roadmap repository"

[2019-07-10 17:28] wtbarnes commented on #104
From the AASTeX author guide,

So I think this should really be everything: matplotlib, numpy, scipy, scikit-image, pfsspy, etc.

[2019-07-10 17:30] wtbarnes commented on #91
This can be closed right?

[2019-07-10 17:34] #91 closed, assigned to hayesla

[2019-07-10 17:36] #93 closed, assigned to nobody

[2019-07-10 17:36] kbg opened #106 "Add citation to drms package"
We submitted a short paper about the `drms` Python package to [JOSS](https://joss.theoj.org/). It is not accepted yet, but maybe it gets a DOI before the submission of the SunPy paper.

[2019-07-10 20:14] mbobra commented on #104
100% agree with @wtbarnes

[2019-07-11 12:41] kbg opened #107 "Adding co-author (affiliated package contributor)"
## Details

* Given Name: Kolja

* Family Name: Glogowski

* Email: kolja@pixie.de

* Affiliations
  - Kiepenheuer-Institut für Sonnenphysik, 79104, Freiburg, Germany
  - eScience Department, Computing Center, University of Freiburg, 79104, Freiburg, Germany

* ORCID (if available): [0000-0002-1361-5712](https://orcid.org/0000-0002-1361-5712)

## Contribution to the SunPy Community

I wrote most p

[2019-07-12 03:11] wtbarnes commented on #87
Where is the old text about helioviewer that needs to be added back in? I cannot find it.

[2019-07-12 22:12] mbobra commented on #97
Addressed by #111

[2019-07-12 22:12] #97 closed, assigned to ehsteve

[2019-07-12 22:18] wtbarnes commented on #87
@mbobra Can you reopen this? #110 was not ready to be merged. I should've marked it as a work in progress. Sorry!

[2019-07-12 22:23] mbobra commented on #87
Sorry!

[2019-07-15 17:58] #107 closed, assigned to nobody

[2019-07-15 18:49] #95 closed, assigned to nobody

[2019-07-17 13:22] ehsteve opened #116 "Fix hard-to-see Venus circle and coordinate"

[2019-07-17 13:23] ehsteve commented on #87
Isn't this ready to be closed now?

[2019-07-17 17:24] mbobra opened #117 "Add a 'Why' Section motivating the need for SunPy in the first place"
@nabobalis suggested we add a 'Why' Section motivating the need for SunPy in the first place. We all agreed during our 17 July meeting that this is a good idea.

Let's collect ideas in this issue rather than assigning this section to any given person.

[2019-07-17 17:46] wtbarnes opened #118 "Move differential rotation to Map section"
Condense differential rotation to a single sentence (or two) and move it and figure to Map section.

[2019-07-17 18:00] ehsteve commented on #117
Free Python makes it much easier for wider participation by members outside of the traditional solar community which likely do not have an IDL license.

[2019-07-17 18:02] wafels commented on #117
Uses modern software development methodologies to improve code reliability
Take advantage of much wider range of data analysis tools in Python
Allows for a wider contributor base because the code is free

[2019-07-17 18:31] #105 closed, assigned to nobody

[2019-07-17 18:33] ehsteve commented on #117
Provides access to world-class functionality provided by the Python ecosystem (e.g. machine learning, website code, etc.)

[2019-07-17 18:33] ehsteve commented on #117
Because Python is so widely supported provides access to world-class (and often free) infrastructure for builds.

[2019-07-17 18:34] ehsteve commented on #117
PEP8 is a feature of Python which leads to more readable and maintainable code.

[2019-07-17 18:35] ehsteve commented on #117
Astropy is only available in Python!

[2019-07-17 18:36] ehsteve commented on #117
Lots of support/software available for developers like IDEs, stack overflow.

[2019-07-17 18:37] ehsteve commented on #117
The community is much more organized and therefore supportive like SciPy conference, pyastro conference. No such thing for IDL.

[2019-07-17 18:38] ehsteve commented on #117
The Python language is more actively evolving to fill current needs.

[2019-07-17 18:39] ehsteve commented on #117
Better integration with other languages such as C or FORTRAN code. This provides an avenue to make functionality more efficient if needed.

[2019-07-17 18:39] hayesla commented on #117
A more general need (less of why Python but more of why SunPy)

solar physics in particular is data heavy - more observations that many other fields by a whole suite of instruments. Developed software is required to perform data analysis and achieve advances in science from these observations

[2019-07-17 18:40] ehsteve commented on #117
A community owned project like Python provides more stability for the long-term compared to one owned by a company that might sell it or close it down.

[2019-07-17 18:41] ehsteve commented on #117
Python is now being used to teach computer programming so students have already learned it which enables a faster ramp to productive research.

[2019-07-17 18:42] ehsteve commented on #117
Python experience is a much more marketable skill that students can use to get good jobs if they need to leave solar physics.

[2019-07-17 18:42] hayesla commented on #117
easy way to convert complex data formats into more generic data outputs - csv, hdf5, binary etc

[2019-07-17 18:44] ehsteve commented on #117
Package structure of Python makes it easy to add functionality as well as build on top of others. Packaging systems like conda do a great job at maintaining and upgrading that system.

[2019-07-17 19:05] bsipocz commented on #117
Non black box tools are better to ensure science results are reproducible 🤷‍♀

[2019-07-17 19:09] bsipocz commented on #117
Not sure whether talks can be cited, but if yes, Jake's Pycon 2017 keynote would be a good one: https://www.youtube.com/watch?v=ZyjCqQEUa8o
https://speakerdeck.com/jakevdp/the-unexpected-effectiveness-of-python-in-science

[2019-07-17 19:45] mbobra commented on #117
Here are a few good resources:

* The National Academy of Science report on [Open Source Software Policy Options for NASA Earth and Space Sciences](https://www.nap.edu/catalog/25217/open-source-software-policy-options-for-nasa-earth-and-space-sciences), especially Chapter 4.
* [Joshua Bloom's talk](https://www.youtube.com/watch?v=kf8a-NnjVQY) about using Python as 'glue' -- i.e. Python enables int

[2019-07-17 19:50] bsipocz commented on #117
@mbobra - wow, these are very good links, thanks!

[2019-07-17 20:23] wtbarnes commented on #117
Python is a more transferable skill for students both into and out of solar physics, i.e. incoming graduate students new to solar physics/astronomy are likely to know Python; for students/postdocs that ultimately leave the field, Python is a more generally transferrable skill set than IDL (The former is arguably a more important point as one could argue we shouldn't make decisions based on what pr

[2019-07-17 20:26] bsipocz commented on #117
You can use the latter as well, in other countries the training aspects are having more emphasis than here (it's definitely an element with e.g. EU grants, afaik also important in Canada, etc.)

[2019-07-17 20:28] wtbarnes commented on #117
Related to the infrastructure comments, the free aspect of Python more easily allows for analysis of "big data" (of which solar physics has quite a bit) because of both existing tooling (e.g. Dask, scikit-learn, Keras) and the ability to spin up many instances of Python across many machines (e.g. on cloud, HPC systems) with no licensing restrictions.

I think this is a prime example of where the f

[2019-07-17 20:30] wtbarnes commented on #117
Fair point. Lots of universities care about this too presumably.

[2019-07-17 21:45] wtbarnes commented on #87
Closed by #115

[2019-07-17 21:45] #87 closed, assigned to Cadair, wtbarnes

[2019-07-18 02:11] ehsteve commented on #106
In the meantime I've added the Zenodo DOI.

[2019-07-18 02:11] #104 closed, assigned to nobody

[2019-07-18 02:11] #81 closed, assigned to ehsteve, Cadair

[2019-07-18 02:19] wtbarnes opened #119 "Figure 1 should be in color"
It looks a bit strange that Figure 1 is the only figure without color.

[2019-07-18 02:21] wtbarnes commented on #116
I think the legend for that figure and the LASCO field one should also be removed. It just clutters the plot. Both can just be explained in the caption.

[2019-07-18 02:25] #118 closed, assigned to nobody

[2019-07-18 02:27] ehsteve commented on #119
Figures should only use colors if necessary. I don't see how it is necessary for that figure.

[2019-07-18 03:49] wtbarnes commented on #119
That's fair. I was just thinking aesthetically.

A few other minor nitpicks with that figure:

* the axes labels on the third panel should be capitalized (or the other two panels lower-case)
* the frames around both legends can be removed
* "Releases" -> "Release" on the top axes on the first two panels
* The the legend in the third panel should be all math mode, i.e. $N^{-0.34}$

These are not ur

[2019-07-18 13:53] wafels commented on #117
Python is currently the language taught in a lot of universities.  That may change - it used to be Pascal and Java.  Python is now a job skill, but it might not be in the future (see Perl).  Learning good programming habits is more important than the language.  Python provides object-oriented and imperative programming styles, but does not provide functional programming naturally.

Permissive free

[2019-07-22 15:18] ehsteve commented on #119
Addressed in #122. Check it out.

[2019-07-23 02:06] ehsteve commented on #117
I've tried to boil down all of these great suggestion into the following rough draft

[2019-07-24 17:26] hayesla commented on #99
Comments from meeting

- leap seconds
- cross-disciplinary
- increased precision (probably too much of case - do we really need it for solar)
- handle other timescales - but need supporting information on why this is needed for solar physics
- `datetime` does not support TAI
- need to focus on the fact its a _modern_ astronomical time system, but what does modern mean? need better word

I'll give

[2019-07-24 17:33] hayesla commented on #99
light travel times

[2019-07-24 17:42] mbobra commented on #117
Let's keep this open for now -- sorry I've been late to address this issue :snail:

[2019-07-24 17:43] hayesla commented on #117
sorry yes didn't mean to close it! 🤦‍♂

[2019-07-24 20:23] #116 closed, assigned to nobody

[2019-07-24 20:23] #119 closed, assigned to nobody

[2019-07-25 18:03] mbobra commented on #80
Maybe we could add the following information:

The [NumFOCUS 2018 Annual Report](https://numfocus.org/wp-content/uploads/2019/04/NumFOCUS-Annual-Report-2018-FINAL.pdf) says that SunPy received a small grant for "Improving the Usability of SunPy’s Data Downloader." They disbursed $60k among 16 packages. I don't know exactly how much SunPy received (maybe @dpshelio knows), but $60k/16 = $3750. SunPy

[2019-07-25 20:07] Cadair commented on #80
they gave us $3,000 for the grant.

[2019-07-28 18:53] Cadair commented on #117
Also worth pointing out that the open development model of sunpy and the surrounding ecosystem is a big plus irrespective of the choice of language.

[2019-07-29 13:34] drsophiemurray opened #124 "Adding co-author"
## Details

* Given Name: Sophie A.

* Family Name: Murray

* Email: sophie.murray@tcd.ie

* Affiliation: Trinity College Dublin, Dublin Institute for Advanced Studies

* ORCID: 0000-0002-9378-5315

## Contribution to the SunPy Community
Adding my name on the suggestion of Monica Bobra - helped with the SunPy Example Galleries.

[2019-08-07 13:39] hayesla commented on #99
are we happy to close this issue now?

[2019-08-07 13:40] #99 closed, assigned to ayshih, hayesla

[2019-08-07 13:41] nabobalis commented on #99
We merged the PR. I think it is safe to close this! Thanks @hayesla

[2019-08-07 16:28] #124 closed, assigned to nobody

[2019-08-07 16:29] ehsteve opened #127 "Copy-edit the entire paper"
The paper needs an entire read-through to consider grammar and other issues.

[2019-08-07 16:30] ehsteve commented on #127
I've also asked Brian Dennis (GSFC) who would provide a comments on a physical media if he agrees.

[2019-08-09 04:12] #117 closed, assigned to nobody

[2019-08-09 04:13] ehsteve opened #130 "Go over all abbreviations"
We frequently define the abbreviation multiple times or use it before it is defined.

[2019-08-09 15:38] ehsteve opened #131 "Rotate the year tick labels in Figure 1 panel a and panel b"

[2019-08-09 18:00] ehsteve commented on #127
Also asked Bill Thompson to read the paper and he agreed, btw.

[2019-08-11 00:43] wtbarnes opened #132 "Cleanup acknowledgement and software section"
The acknowledgement section is still a bit messy and there is still a TODO in there for thanking a few organizations.

The software section should be consolidated into one `\software` tag and references should be provided wherever possible.

[2019-08-11 13:00] ehsteve opened #135 "Add HEK position on map example (figure 3)"
Given that we show the HEK peak time on the GOES plot, perhaps we should also add the HEK position on the Map example. I would suggest that it only be added on the left-hand panel and not the right-hand. Thoughts @hayesla?

[2019-08-11 13:38] ehsteve opened #136 "GOES time series plot and peek()"
Figure 2 does not use peek() and so we are not using the opportunity to show off the visualization aspect of time series. Peek() provides the goes class defined y axis.

[2019-08-11 13:40] ehsteve commented on #135
The HPC position provided by the SWPC in the HEK catalog is (715.5, -339.795).

[2019-08-11 13:50] ehsteve commented on #127
Unassigning @SabrinaSavage since her comments have already been incorporated.

[2019-08-11 13:51] ehsteve commented on #127
PR #129.

[2019-08-11 13:51] ehsteve commented on #127
PR #128.

[2019-08-11 13:52] ehsteve commented on #127
PR #115.

[2019-08-11 13:52] ehsteve commented on #127
PR #134.

[2019-08-11 13:55] ehsteve opened #137 "Improve field extrapolation figure"
I suggest that the field lines be shown in white or another color. They blend too much into the background image especially in the lower right-hand corner.

[2019-08-11 20:17] hayesla commented on #136
Well I feel like for figure worthy plots it better to use plot as you have more control over just using the peek() functionality - isn't peek rather actually inspecting the data?

[2019-08-11 21:50] wtbarnes commented on #137
I think the main issue was with the transparency as I had set `alpha=0.4`. Here's black fieldlines with `alpha=0.6`. I think they stand out a bit better now.

<img width="634" alt="image" src="https://user-images.githubusercontent.com/8676141/62839924-f4110700-bc46-11e9-83aa-3ed750c5ea5d.png">

 White blends in even worse because of the bright emission in the center of the AR, but red or blue coul

[2019-08-11 21:55] wtbarnes commented on #137
Here's blue with slightly reduced transparency (`alpha=0.5`). I'm fine with either.

<img width="634" alt="image" src="https://user-images.githubusercontent.com/8676141/62839984-017ac100-bc48-11e9-9bf7-df7bdf61b7ea.png">

[2019-08-12 13:28] #137 closed, assigned to wtbarnes

[2019-08-12 13:32] ehsteve commented on #136
Yes, you are right that peek is not really meant to be used to make figures. The thing that bothers me the most is the GOES class axis is not represented here. I'm mostly fine with not using peek(). It might be good to break out the function that adds that axis as a helper function in SunPy but that is a comment for another repo!

[2019-08-12 13:43] hayesla commented on #136
That's true - we can add that in though - should we update the figure to this

![timeseries_example2](https://user-images.githubusercontent.com/4620298/62869294-91227d00-bce5-11e9-9669-6cb24c5ddc2e.png)

[2019-08-12 14:06] #136 closed, assigned to hayesla

[2019-08-12 14:07] ehsteve commented on #135
@hayesla what do you think about this suggestion?

[2019-08-12 14:08] hayesla commented on #135
this is a nice idea - I'll do it now

[2019-08-12 19:14] hayesla commented on #132
we should also acknowledge Brian Dennis and Richard and whoever else offered copyediting to the paper :)

[2019-08-12 21:37] #135 closed, assigned to nobody

[2019-08-12 21:45] ehsteve commented on #132
@hayesla I've already done that for Brian and Richard.

[2019-08-13 15:33] ehsteve commented on #131
Addressed in #141

[2019-08-13 15:34] ehsteve commented on #127
Got Bill Thompson's edit. They were fairly light and are in PR #141.

[2019-08-13 16:03] ehsteve opened #142 "Add reference to sunpy open source white paper"

[2019-08-14 15:30] ehsteve commented on #142
Addressed #141

[2019-08-14 17:10] wtbarnes commented on #132
add Bill Thompson as well

[2019-08-14 17:10] wtbarnes commented on #132
Schwarts->Schwartz

[2019-08-14 17:14] wtbarnes commented on #80
Should go in "Acknowledgement" section

[2019-08-14 17:15] wtbarnes commented on #132
Line thanking SPD for committing to providing support for workshops and a prize

[2019-08-14 17:18] ehsteve commented on #86
OpenAstronomy is a collaboration between open source and astronomy, astrophysics, and heliophysics projects to share resources, ideas, and to improve code and support open development.

[2019-08-15 02:56] #142 closed, assigned to nobody

[2019-08-15 02:56] #131 closed, assigned to nobody

[2019-08-15 02:57] ehsteve commented on #127
Got edits from @kreardon. Will make a PR soon.

[2019-08-15 13:46] ehsteve opened #145 "Address feedback on intro from kevin"
From @kreardon

"solar physics relies primarily on remote sensing from both space- and
ground-based observations"
-- This may sound a little off in the era of a heliosphere systems
approach and the arrival of PSP and SO.

"IDL (Interactive Data Language), a commercial and closed- source
programming language."
-- while this is of course true, I think it is important to note that
IDL was first devel

[2019-08-15 13:52] #130 closed, assigned to wtbarnes

[2019-08-15 13:52] #132 closed, assigned to wtbarnes

[2019-08-15 13:54] ehsteve commented on #80
Was this supposed to be addressed in your last PR or did I miss it @wtbarnes?

[2019-08-15 13:54] #86 closed, assigned to ehsteve

[2019-08-15 14:07] ehsteve commented on #127
Added feedback from @kreardon. Probably sufficient copy-edits at this point so closing this as an issue.

[2019-08-15 14:07] #127 closed, assigned to nobody

[2019-08-19 04:26] ayshih opened #150 "Fido and `drms`"
The paper is confusing/misleading about `drms` and its relationship to the core package.  The Fido section (4.1.1) takes credit for providing access to JSOC, but doesn't mention `drms` at all.  In the `drms` section (6.1), the description gives no indication that `drms` is actually a dependency of Fido's aforementioned JSOC capability.

[2019-08-20 14:47] ehsteve opened #151 "Regen repo statistics plots and diff rot figure"
This is to address the changed from @ayshih in #149.

[2019-08-20 14:48] ehsteve commented on #151
Can't do this from my computer at the current time.

[2019-08-20 19:27] mbobra commented on #150
`drms` does not depend on Fido.

[2019-08-20 19:28] mbobra commented on #106
Addressed by #153

[2019-08-20 19:28] #106 closed, assigned to nobody

[2019-08-20 20:53] ayshih commented on #150
Huh?  I'm saying that Fido depends on `drms` for JSOC capability.

[2019-08-23 19:18] wafels opened #156 "I'm an author"
Should have my details already

## Details

* Given Name

* Family Name

* Email

* Affiliation

* ORCID (if available)

## Contribution to the SunPy Community

[2019-08-23 19:32] wtbarnes commented on #156
I think you're already on the author list?

[2019-08-23 22:01] mbobra commented on #156
@wafels You are already on the author list, so I'm closing this issue.

[2019-08-23 22:01] #156 closed, assigned to nobody

[2019-08-24 01:39] #151 closed, assigned to nobody

[2019-08-24 01:39] #145 closed, assigned to nobody

[2019-08-26 03:29] ehsteve commented on #150
This has not been resolved in the submitted version so keeping this open to fix when we get reviewer comments back.

[2019-10-04 02:11] kiendang opened #159 "Tag along as co-author if it's ok"
## Details

* Given Name: Trung Kien

* Family Name: Dang

* Email: mail@kien.ai

* Affiliation: Saw Swee Hock School of Public Health, National University Health System, National University of Singapore, Singapore

* ORCID (if available): 0000-0001-7562-6495

## Contribution to the SunPy Community

Fixed minor bug related to image observation time.

[2019-11-27 14:35] ehsteve commented on #159
Thank you and added you to through an edit to the proof.

[2019-11-27 14:40] ehsteve commented on #80
Added the following line to the proof "We acknowledge financial contributions from NumFocus for Improving the Usability of SunPy’s Data Downloader."

[2019-11-27 14:59] ehsteve commented on #150
In the proof, added a line to the dmrs package section at the end "\Fido depends on this package to enable it to access JSOC search results."  Also added text to the Fido section "thanks to the \package{drms} affiliated package see Section..."

[2019-11-28 02:33] kiendang commented on #159
Sweet. Thank you!

[2019-11-28 02:33] #159 closed, assigned to nobody

[2020-02-15 16:59] #150 closed, assigned to nobody

[2020-02-15 16:59] #80 closed, assigned to Cadair